* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    margin: 0;
}


.portfolio--header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: black;
    color: red;
    padding: 20px;
}

/* Main Clicked on Project Displaying */
.project {
    column-count: 2;
}

.project--info {
    /* float: left; */
    /* width: 50%; */

}
.project--image {
    width: 100%;
}


.projects-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.scroller {
    width: 300px; 
    /* padding-top: 100px; */
    /* flex: 0 0 auto; */
    /* display: flex; */
}

.scroller--image {
    width: 300px;
    background-color: black;
    /* height: 300px; */
}

