* {
    box-sizing: border-box;
}

body, html, #root {
    font-family: "Arial", sans-serif;
    margin: 0;
    height: 100%;
    background-color: black;
    /* background-color: #282D35; */
}

h5 {
    padding-left: 10;
    margin-left: 10px;
    color: white;
}


/* HEADER */
.portfolio--header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 65px;
    height: 10vh;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    z-index: 2;
}
 .project--overlay--section{
    position: absolute;
    top:0;
 }


/* 
Project.js css.
OVERLAY
Main Clicked on Project Displaying 
--> Project.js
*/
@media only screen and (max-width: 774px) {
    .project--overlay {
        background-color: rgb(19,19,19);
        position: fixed;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
    }

}

@media only screen and (min-width: 775px) {
    .project--overlay {
        background-color: rgb(19,19,19);
        position: fixed;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 775px;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        /* border: 5px solid turquoise; */
    }

}


.project--image {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    /* position: fixed; */
    top: 0;
    z-index: -1;
    /* border: 5px solid orange; */
}

.project--info {
    color: white;
    width: 100%;
    margin: auto;
}

.project--title--container {
    height: 80px;
}

.project--title--bg {
    background-image: linear-gradient(white, rgb(19,19,19));
    color: white;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 80px;
    /* top: 0px; */

    padding: 10px 10px 10px 10px;
    /* border: 5px solid blue; */

}

.project--title {
    position: absolute;
    /* top: 0px; */
    /* border: 5px solid green; */
    font-weight: bold;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 10px black;
    /* background-color: rgb(19,19,19); */
    /* opacity: 1; */

}

.project--data {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
    padding: 0px 25px 100px 25px;
    margin: 0;
    color: white;
    background-color: rgb(19,19,19);
}


/* 
Project Overlay --> X close buttom
    x--image--overlay container around everytrhong
    x--image--container container around ximage
    x--image img class.
*/

 /* Circle around X image. */
.x--image--container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 100%;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    z-index: 3;
    /* background-color: pink;    */
}
/*  Actualy x image css */
.x--image {
    /* position: sticky; */
    top: 0;
    width: 50px;
    font-size: 50px;
    cursor: pointer;
    z-index: 3;
    filter:  
        invert(100%)
        sepia(100%)
        saturate(100%)
        hue-rotate(45deg)
        brightness(102%)
        contrast(101%);
}

.x--image:hover {
    transform: scale(1.2);
    /* background-color: rgb(19,19,19); */
}


/*
 RELATED PROJECT CARD SECTIONS
    - Click on a project
    - Pop up screen, bottom half, display 6 related projects.
 */

@media only screen and (max-width: 774px) {
    .project--related {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        place-content: center;
        background-color: rgb(19,19,19);
        padding-bottom: 100px;
    
    }
    
    .project--related--item {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        flex: 50%;
    }
    
    
    
    .project--related--item > div {
        width: 300px;
        cursor: pointer;
    }
    .project--related--item > div > img {
        width: 300px;
        height: 225px;
    }

}



@media only screen and (min-width: 775px) {
    .project--related {
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        background-color: rgb(19,19,19);
        padding-bottom: 100px;
    
    }
    
    .project--related--item {
        display: flex;
        flex: 50%;
    }
    
    
    .project--related--item > div {
        width: 300px;
        cursor: pointer;
    }
    .project--related--item > div > img {
        width: 300px;
        height: 225px;
    }

}

@media only screen and (min-width: 650px) {
    .project--related--item:nth-child(odd) {
        justify-content: end;
        padding: 5px 5px 5px 0px;
    }
    
    .project--related--item:nth-child(even) {
        justify-content: start;
        flex: 50%;
        padding: 5px 0px 5px 5px;
    }

}



/* 
Swiper Card Stuff 
- used Card.js --> used in carousels, and related projects.
*/
.cards-list {
    cursor: pointer;
    height: 20vh;
    padding-top: 150px;
}


/* 
Card 
--> used with swiper, 
--> used within Project.js # related section
*/
.card {
    width: 200px;
    cursor: pointer; 
}


.card--image {
    width: 200px;
    height: 150px;
    background-color: black;
}

.card:hover {
    transform: scale(1.1);
}

.swiper-slide {
    width: auto;
    padding: 15px;
}


/* Other */
.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}


.noscroll {
    overflow-y: hidden;
}

.mask {
    /* position: absolute; */
    /* left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    background-color: black;
    opacity: 0.5;
    z-index: 0;
    /* filter: blur(1px); */
    /* z-index: 0; */
}

.footer {
    /* position: fixed; */
    /* position: relative;
    left:0;
    bottom:0;
    right:0; */
    /* height: 50px; */
    margin-top: 2500px;
}


